.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-info p, .profile-container li p {
    margin: 10px 0;
}
